/*necesario para que las imagenes en los archivos markdown
tengan cierto tamaño*/
/* =========================================================
   IMÁGENES DEL CONTENIDO MARKDOWN
   ========================================================= */

.markdown-content img {
    display: block;

    width: 100%;
    max-width: 800px;
    height: auto;

    margin: 25px auto;

    border-radius: 6px;
}


/* =========================================================
   CELULAR HORIZONTAL
   ========================================================= */

@media (max-height: 600px) and (orientation: landscape) {

    .markdown-content img {
        width: 50%;
    }

}