/*necesario para que las imagenes en los archivos markdown
tengan cierto tamaño*/

.markdown-content img {
    display: block;

    width: 100%;
    max-width: 800px;
    height: auto;

    margin: 25px auto;

    border-radius: 6px;
}

/* =========================================================
   RESPONSIVE - CONTENIDO MARKDOWN
   ========================================================= */

@media (max-width: 600px){
    .markdown-content img{
        width: 90%;
        max-width: 500px;
    }
}